<link rel="stylesheet" href="/stylesheets/home.css">

<% if (user) { %>
        
    
      <nav id="nav-menu-container">
        <ul class="nav-menu">           
          <li><a href="/newgame"><button class= "btn btn-success">Create Game</button></a></li>
          <li><a href="/logout"><button class= "btn btn-danger">Logout</a></li>
        </ul>
      </nav>

   
        <%# gameResults is defined in the get homepage route %>
        <% gameResults.forEach((oneGame) => { %>
            <%# oneGame is a placeholder %>
            <%# sport is part of schema %>
            
    <section id="services">
            <div class="container">
              <div class="section-header">
              </div> 
      
              <div class="row">
      
                <div>
                  <div class="wow fadeInLeft">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <ul class="list-group">
                      <%  console.log("ONEGAME:", oneGame) %>
                        <p><%=oneGame.owner%> organized this event: </p>
                        <li class="list-group-item"> Sport:<strong><%= oneGame.sport %></strong></li>
                        <li class="list-group-item">Address: <strong><%= oneGame.address%></strong></li>
                        <li class="list-group-item">Date and Time<strong><%= oneGame.dateAndTime%></strong></li>
                        <li class="list-group-item">Current Players: <strong><%= oneGame.currentPlayers%></strong></li>
                        <li class="list-group-item">Max Players: <strong><%= oneGame.maxPlayers%></strong></li>
                      </ul>
                    
            <!-- <p><%=oneGame.owner%> organized this event: </p>
            Sport:<strong><%= oneGame.sport%></strong>
            <br>
            Address: <strong><%= oneGame.address%></strong>
            <br>
            Date and<strong><%= oneGame.dateAndTime%></strong>
            <br>
            Current Players: <strong><%= oneGame.currentPlayers%></strong>
            <br>
            Max Players: <strong><%= oneGame.maxPlayers%></strong> -->
                  </div>
                </div>
              </div>
      
            <!-- </div> -->
          </section>
            <!-- <p>===========================================</p>
            <p><%=oneGame.owner%> organized this event: </p>
            Sport:<strong><%= oneGame.sport%></strong>
            <br>
            Address: <strong><%= oneGame.address%></strong>
            <br>
            <strong><%= oneGame.dateAndTime%></strong>
            <br>
            Current Players: <strong><%= oneGame.currentPlayers%></strong>
            <br>
            Max Players: <strong><%= oneGame.maxPlayers%></strong> -->
            
    <% if(oneGame.owner !== undefined){ %>
            <% if(user._id.equals(oneGame.owner)){ %>
                <button><a href="/games/<%=oneGame._id%>/edit">Edit Game</a></button>
                <form action="/games/<%=oneGame._id%>/delete" method="post">
                    <button type="submit"> Delete </button>
                </form>
                <br>
                
            <% } %>
    
                <% if((user._id.equals(oneGame.owner))=== false){ %>
                    <% if(oneGame.maxPlayers !== oneGame.currentPlayers){ %>
                      <% console.log("USER IN THE GAME ?: ", user) %>
                        <% if(!user.inTheGame) { %>
                            <div class= "joinBtn"></div>
                                <form action="/games/<%=oneGame._id%>/add" method="post">
                                <button type="submit"> Join Game </button>
                                </form>
                            </div>
                            <% }  else { %>
                                <div class= "joinBtn">
                                        <form action="/games/<%=oneGame._id%>/leave" method="post">
                                        <button type="submit"> Leave the Game </button>
                                        </form>
                                    </div> 
                            <% } %>
                    <% }%>     
            <% }  %>

        <% } %>
        <% }) %>
<% } else {%>
    <div class="auth">
          <button id="login-btn"  class="btn btn-primary btn-lg"><a href="/login">Login</a></button>  
        <button id="signup-btn" class="btn btn-success btn-lg"><a href="/signup">Signup</a></button>    
    </div>
   
<% } %>



